%text-color-nav {
  color: $color-highlight;
}

header {
  height:165px;

  nav a {
    @extend %text-color-nav;
    padding: 6px;
    text-decoration: none;
    text-transform: uppercase;
    &:hover{
      background-color: #b18b47;
      color: #fff;
    }
  }
  span {
    @extend %text-color-nav;
    margin: 0 20px;
  }
}

.logo {
  margin: 60px auto 22px;
  width: 91px;
  height: 91px;
  background-color: #fff;
}

ul{
  list-style: none;
  padding: 0;
  li{
    display: inline-block;
  }
}
