
// COLORS

$color-highlight: #578465;
$color-hover: #b18b47;

$color-heading: #4d4642;
$color-h3: #827356;

$color-bg-contact: #ebebeb;

$twitter: #55ACEE;
$facebook: #3b5998;
$gplus: #dd4b39;
$pinterest: #cb2027;
$dribbble: #C32361;